@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background: linear-gradient(to bottom right, #8b5cf6, #ff7eb3);
    min-height: 100vh;
    margin: 0;
}

/*  */
@keyframes slide {
    0%, 100% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(100%);
    }
  }
  
  .animate-slide {
    animation: slide 5s infinite;
  }
  
  